.card__uiTitle
{
    color:#8FC657;
    font-weight: 700;
    margin: 0;
    text-align:center !important;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Poppins' !important;
    text-transform: uppercase;
}