<section>
    <div class="grid__banner">
        <div className="selection">
            <img src="assets/images/images/f1.png" alt=""/>
        </div>
        <div style="display:'flex';flex-direction:column;justify-content:space-between">
            <div class="subgrid__banner">
                <a>
                <img src="assets/images/images/f2.png" alt=""/>
                </a>
                <a>
                <img className="correccion" src="assets/images/images/f3.png" alt=""/>
                </a>
            </div>
            <div class="subgrid__banner">
                <a>
                    <img src="assets/images/images/f4.png" alt=""/>
                </a>
                <a>
                    <img className="correccion" src="assets/images/images/f5.png" alt=""/>
                </a>
            </div>
            </div>
    </div>
</section>
